.hepart_row, .sold.hepart_final_price, .auction_date {
	background: linear-gradient(to left, #F2C14E, #F78154) !important;
}
#hepart_no_data {
	padding: 1px 3px;
	margin-right:10px;
	color:white;
	background-color: orange;	
}
